<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="peo" class="pojo.People">
        <property name="name" value="hj"/>
        <property name="age" value="1"/>
    </bean>

    <bean class="pojo.SuperPeople" id="superpeo" parent="peo">
           <property name="address" value="hz"/>
    </bean>

</beans>